<nav aria-label="breadcrumb" role="navigation">
  <ul class="breadcrumb justify-content-center" vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem" class="breadcrumb-item">
    	<a property="item" typeof="WebPage" href="{{ $.Site.BaseURL }}">
		<span property="name">{{ .Site.Title }}</span></a>
		<meta property="position" content="1">
    </li>
	<li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
		<a class="disabled" property="item" typeof="WebPage" href="#" aria-current="page">
		<span property="name">{{ .Title }}</span></a>
		<meta property="position" content="2">
	</li>
  </ul>
</nav>