.brand a,
.brand a:link,
.brand a:visited {
	color: white;
}

a.disabled {
	pointer-events: none;
}

img[data-sizes="auto"] { 
  display: block; 
  width: 100%; 
}

@media (max-width:992px) {
	.dropdown-group .nav-link {
		display: inline-flex;
		vertical-align: text-top;
	}
}

@media (min-width:992px) {
	.dropdown-group .nav-link {
		display: inline-flex;
		vertical-align: middle;
	}

	.dropdown-group > a.nav-link {
		padding-right: 0 !important;
	}
}