<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{- if .IsHome -}}
			{{ .Site.Params.seoTitle | default .Site.Title }}
		{{- else -}}
			{{ .Params.seoTitle | default .Title }}
		{{- end -}}
	</title>
	<link rel="stylesheet" href="/assets/css/hesti.css" />
</head>
<body>
	{{- partial "hero-area.html" . -}}
	<div class="main-raised">
		{{- block "main" . -}}{{- end -}}
		{{- partial "footer.html" . -}}
	</div>
	<script src="/assets/js/hesti.js"></script>
</body>
</html>