<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">
<head>
	{{- partial "seo/meta.html" . -}}
	<title>
		{{- if .IsHome -}}
			{{ .Site.Params.seoTitle | default .Site.Title }}
		{{- else if eq .Kind "taxonomy" -}}
			{{ .Params.seoTitle | default .Title }}

			{{- if gt $.Paginator.PageNumber 1 -}}
			, Page {{ $.Paginator.PageNumber }} of {{ $.Paginator.TotalPages }} 
			{{- end -}}
		{{- else -}}
			{{ .Params.seoTitle | default .Title }}
		{{- end -}}
	</title>
	{{- if .Site.Params.favicon -}}
	<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon"/>
	<link rel="icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon"/>
	{{- end -}}
	
	{{ partial "seo/canonical.html" . }}

    {{- template "_internal/google_analytics.html" . -}}
    {{- partial "google-adsense.html" . -}}
	{{- partial "header-scripts.html" . -}}

	{{- "<!-- inject:styles -->" | safeHTML -}}
	<link rel="dns-prefetch" href="//fonts.googleapis.com">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700&amp;subset=latin,latin-ext" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/css/hesti.css" />
	{{- block "extra-styles" . -}}{{- end -}}
	{{- "<!-- endinject -->" | safeHTML -}}

	{{- partial "seo/opengraph.html" . -}}
    {{- template "_internal/google_news.html" . -}}
	{{- partial "seo/schema.html" . -}}
	{{- partial "seo/twitter_cards.html" . -}}
</head>
{{- .Scratch.Set "bodyClasses" "page" -}}
{{- if .IsHome -}}
{{- .Scratch.Add "bodyClasses" " home-page" -}}
{{- else if eq .Kind "taxonomy" -}}
{{- .Scratch.Add "bodyClasses" " category-page" -}}
{{- else if eq .Kind "404" -}}
{{- .Scratch.Add "bodyClasses" " error-page" -}}
{{- else if eq .Params.layout "post" -}}
{{- .Scratch.Add "bodyClasses" " post-page" -}}
{{- end -}}
<body class="{{ .Scratch.Get "bodyClasses" }} {{ cond (eq .Params.omitHeroImage true) " main-raised " "" }}">
	{{- partial "navigation.html" . -}}
	
	{{- block "custom-header" . -}}
	{{- if and (eq .Kind "404") (isset .Site.Data.theme "notfound") -}}
	{{- .Scratch.Set "headerImage" .Site.Data.theme.notfound.image -}}
	{{- else if isset .Params "image" -}}
	{{- .Scratch.Set "headerClasses" " purple-filter clear-filter" -}}
	{{- .Scratch.Set "headerImage" .Params.image -}}
	{{- else -}}
	{{- .Scratch.Set "headerClasses" " purple-filter clear-filter" -}}
	{{- .Scratch.Set "headerImage" .Site.Params.image -}}
	{{- end -}}


	{{ if eq .Params.omitHeroImage true }}
	{{- .Scratch.Set "headerClasses" "" -}}
	<header class="page-header omit-hero-image mt-5">
	{{ else }}
	<header class="page-header has-hero-image header-filter{{- .Scratch.Get "headerClasses" -}}" data-parallax="true" style="background-image: url('{{- .Scratch.Get "headerImage" -}}');">
	{{ end }}
		<div class="container">
			<div class="row">
				{{- block "custom-hero-area" . -}}
				<div class="col-md-12 mx-auto">
					<div class="brand">
						{{- if and (.IsHome) (.Site.Data.theme.hero) -}}
							<h1 class="title">{{ .Site.Data.theme.hero.heading }}</h1>
							<p class="sub-title">{{ .Site.Data.theme.hero.description }}</p>
						{{- else if eq .Params.layout "post" -}}
							<h1 class="title">{{ .Title }}</h1>
							{{- partial "post/breadcrumbs.html" . -}}
							<div class="published-by">
								Published by 
								<a class="author" href="{{ $.Site.BaseURL }}">
									<strong class="fn" itemprop="author">{{ .Params.Author }}</strong>
								</a> on <time class="date updated published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-0700" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
							</div>
						{{- else if eq .Kind "taxonomy" -}}
							<h1 class="title">{{ .Title }}</h1>
							{{- partial "category/breadcrumbs.html" . -}}
							<p>{{ .Content }}</p>
						{{- else if eq .Kind "404" -}}
							<h1 class="title">404</h1>
							<p class="sub-title">We couldn’t find this page. Maybe it’s out there, somewhere...<br>You can always find insightful posts on our <a href="{{- $.Site.BaseURL -}}" title="{{- $.Site.Title -}}">homepage</a>.</p>
						{{- else -}}
							<h1 class="title">{{ .Title }}</h1>
							<p>{{ .Params.description }}</p>
						{{- end -}}
					</div>
				</div>
				{{- end -}}
			</div>
		</div>
	</header>
	{{- end -}}
	{{- block "main" . -}}
	{{- $isMainBlockRaised := and (ne .Params.mainRaised false) (ne .Params.omitHeroImage true) (or (.IsHome) (eq .Kind "taxonomy") (eq .Params.layout "post")) -}}
	<div class="main{{ .Scratch.Get "mainClasses" }} {{ cond (eq $isMainBlockRaised true) " main-raised " "" }}">
		{{- block "main-body" . -}}{{- end -}}
		{{- $hasFooterImage := cond (isset .Params "footerimage") true false -}}
		{{- $backgroundImage := safeCSS (printf "background-image: url('%s');" .Params.footerimage) -}}
		<footer class="footer footer-big footer-black{{ cond (eq $hasFooterImage true) " header-filter footer-image black-filter clear-filter" ""}}" 
			style="{{- cond (eq $hasFooterImage true) $backgroundImage "" -}}">
			<div class="container">
				<div class="row">
					{{- block "footer-body" . -}}
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
					{{- end -}}
					<div class="col-md-12">
						<hr>
						<p class="text-left">{{- .Site.Data.theme.footer.copyright | safeHTML -}}</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	{{- end -}}
	{{- partial "footer-scripts.html" . -}}
	{{- block "extra-scripts" . -}}{{- end -}}
</body>
</html>