<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{{- if .IsHome -}}
			{{ .Site.Params.seoTitle | default .Site.Title }}
		{{- else if eq .Kind "taxonomy" -}}
			{{ .Params.seoTitle | default .Title }}

			{{- if gt $.Paginator.PageNumber 1 -}}
			, Page {{ $.Paginator.PageNumber }} of {{ $.Paginator.TotalPages }} 
			{{- end -}}
		{{- else -}}
			{{ .Params.seoTitle | default .Title }}
		{{- end -}}
	</title>
	{{- if .Site.Params.favicon -}}
	<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon"/>
	<link rel="icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon"/>
	{{- end -}}
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<meta name="viewport" content="width=device-width,minimum-scale=1">
	
	{{ partial "seo/canonical.html" . }}

	<link rel="dns-prefetch" href="//fonts.googleapis.com">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700&amp;subset=latin,latin-ext" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/css/hesti.css" />
	{{- block "extra-styles" . -}}{{- end -}}

	{{- partial "seo/opengraph.html" . -}}
    {{- template "_internal/google_news.html" . -}}
	{{- partial "seo/schema.html" . -}}
	{{- partial "seo/twitter_cards.html" . -}}
    {{- template "_internal/google_analytics.html" . -}}
</head>
{{- .Scratch.Set "bodyClasses" "page" -}}
{{- if .IsHome -}}
{{- .Scratch.Add "bodyClasses" " home-page" -}}
{{- else if eq .Kind "taxonomy" -}}
{{- .Scratch.Add "bodyClasses" " category-page" -}}
{{- else if eq .Params.layout "post" -}}
{{- .Scratch.Add "bodyClasses" " post-page" -}}
{{- end -}}
<body class="{{- .Scratch.Get "bodyClasses" -}}">
	{{- partial "navigation.html" . -}}
	
	{{- block "custom-header" . -}}
	<header class="page-header header-filter purple-filter clear-filter" data-parallax="true" style="background-image: url('{{ cond (isset .Params "image") .Params.image .Site.Params.image }}');">
		<div class="container">
			<div class="row">
				{{- block "custom-hero-area" . -}}
				<div class="col-md-12 mx-auto">
					<div class="brand text-center">
						{{- if and (.IsHome) (.Site.Data.theme.hero) -}}
							<h1 class="title">{{ .Site.Data.theme.hero.heading }}</h1>
							<p>{{ .Site.Data.theme.hero.description }}</p>
						{{- else if eq .Params.layout "post" -}}
							<h1 class="title">{{ .Title }}</h1>
							{{- partial "post/breadcrumbs.html" . -}}
							<div class="published-by">
								Published by 
								<a class="author" href="{{ $.Site.BaseURL }}">
									<strong class="fn" itemprop="author">{{ .Params.Author }}</strong>
								</a> on <time class="date updated published" datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-0700" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
							</div>
						{{- else if eq .Kind "taxonomy" -}}
							<h1 class="title">{{ .Title }}</h1>
							{{- partial "category/breadcrumbs.html" . -}}
						{{- else -}}
							<h1 class="title">{{ .Title }}</h1>
							<p>{{ .Params.description }}</p>
						{{- end -}}
					</div>
				</div>
				{{- end -}}
			</div>
		</div>
	</header>
	{{- end -}}
	{{- $isRaised := or (.IsHome) (eq .Kind "taxonomy") (eq .Params.layout "post") -}}
	<div class="main {{ cond (eq $isRaised true) " main-raised" "" }}">
		{{- block "main" . -}}{{- end -}}
		{{- $hasFooterImage := cond (isset .Params "footerimage") true false -}}
		{{- $backgroundImage := safeCSS (printf "background-image: url('%s');" .Params.footerimage) -}}
		<footer class="footer footer-big {{ cond (eq $hasFooterImage true) " footer-image" ""}}" 
			style="{{- cond (eq $hasFooterImage true) $backgroundImage "" -}}">
			<div class="container">
				<div class="row">
					{{- block "footer-body" . -}}
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
					{{- end -}}
					<div class="col-md-12">
						<hr>
						<p class="text-left">{{- .Site.Data.theme.footer.copyright | safeHTML -}}</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/assets/js/core/jquery.min.js"></script>
	<script src="/assets/js/core/popper.min.js"></script>
	<script src="/assets/js/core/bootstrap-material-design.min.js"></script>
	<script src="/assets/js/material-kit.js"></script>
	<script src="/assets/js/lazysizes.min.js"></script>
	<script src="/assets/js/ls.unveilhooks.min.js"></script>
	{{- block "extra-scripts" . -}}{{- end -}}
</body>
</html>