<nav class="breadcrumb is-centered has-bullet-separator" aria-label="breadcrumbs">
	<ul class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
		<li property="itemListElement" typeof="ListItem">
			<a property="item" typeof="WebPage" href="{{ $.Site.BaseURL }}">
			<span property="name">{{ .Site.Title }}</span></a>
			<meta property="position" content="1">
		</li>
		<li property="itemListElement" typeof="ListItem">
			<a property="item" typeof="WebPage" href="#" aria-current="page">
			<span property="name">{{ .Title }}</span></a>
			<meta property="position" content="2">
		</li>
	</ul>
</nav>