<header class="hero is-primary is-large">
	<div class="hero-head">
		{{- partial "navigation.html" . -}}
	</div>
	<div class="hero-body hero-image-filter" style="background-image: url({{ cond (isset .Params "image") .Params.image .Site.Params.image }})">
		<div class="container has-text-centered">
			{{- if and (.IsHome) (.Site.Data.theme.hero) -}}
				<h1 class="title">{{ .Site.Data.theme.hero.heading }}</h1>
				<p class="subtitle">{{ .Site.Data.theme.hero.description }}</p>
			{{- else -}}
				<h1 class="title">{{ .Title }}</h1>
			{{- end -}}
		</div>			
	</div>
</header>