<section class="latest-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ml-auto mr-auto">
				<div class="text-center">
					<h2 class="title">Latest Posts</h2>
				</div>
				<div class="row">
					{{- $numberOfPostsToShow := 9 -}}
					{{- $posts := first $numberOfPostsToShow (where .Site.Pages "Params.layout" "post") -}}
					{{- range $index, $element := $posts -}}
						{{- partial "plain-card.html" . -}}
					{{- end -}}
				</div>
			</div>
		</div>
	</div>
</section>