{{ with .Site.Data.theme.navigation }}
<nav id="main-navbar" class="navbar is-fixed-top" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ .Site.BaseURL }}">
				{{ .brand }}
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbar-menu" class="navbar-menu">
			<div class="navbar-start">
			</div>

			<div class="navbar-end">
				{{- range .menu -}}
					{{- if .dropdown -}}
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="{{ .url }}">{{ .name }}</a>
							<div class="navbar-dropdown">
								{{- range .items -}}
									<a class="navbar-item" href="{{ .url }}">{{ .name }}</a>
								{{- end -}}
							</div>
						</div>
					{{- else -}}
						<a class="navbar-item" href="{{ .url }}">{{ .name }}</a>
					{{- end -}}
				{{- end -}}
			</div>
		</div>
	</div>
</nav>
{{ end }}