{{ with .Site.Data.theme.navigation }}
{{- if eq $.Params.omitHeroImage true -}}
<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100">
{{- else -}}
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
{{- end -}}
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" href="{{ $.Site.BaseURL }}" title="{{- $.Site.Title -}}">{{ .brand }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div id="navbar-menu" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				{{- $currentPage := . -}}
				{{- range $.Site.Menus.main -}}
				{{- if .HasChildren -}}
					<li class="nav-item ">
						<div class="dropdown dropdown-group">
							<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>

							<span class="nav-link dropdown-toggle dropdown-toggle-split" id="{{ .URL }}-dropdown-menu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
							<div class="dropdown-menu" aria-labelledby="{{ .URL }}-dropdown-menu-link">
								{{- range .Children -}}
									<a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
								{{- end -}}
							</div>
						</div>
					</li>
				{{- else -}}
					<li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
				{{- end -}}
				{{- end -}}
			</ul>
		</div>
	</div>
</nav>
{{ end }}