{{ with .Site.Data.theme.navigation }}
{{- if eq $.Params.omitHeroImage true -}}
<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100">
{{- else -}}
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
{{- end -}}
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" href="{{ $.Site.BaseURL }}" title="{{- $.Site.Title -}}">{{ .brand }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div id="navbar-menu" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				{{- range .menu -}}
					{{- if .dropdown -}}
						<li class="nav-item ">
							<div class="dropdown dropdown-group">
								<a class="nav-link" href="{{ $.Site.BaseURL }}{{ .url }}/">{{ .name }}</a>

								<span class="nav-link dropdown-toggle dropdown-toggle-split" id="{{ .url }}-dropdown-menu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
								<div class="dropdown-menu" aria-labelledby="{{ .url }}-dropdown-menu-link">
									{{- range .items -}}
										<a class="dropdown-item" href="{{ $.Site.BaseURL }}{{ .url }}/">{{ .name }}</a>
									{{- end -}}
								</div>
							</div>
						</li>
					{{- else -}}
						<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}{{ .url }}/">{{ .name }}</a></li>
					{{- end -}}
				{{- end -}}
			</ul>
		</div>
	</div>
</nav>
{{ end }}