<div class="col-md-4 mx-auto px-lg-5">
	<aside class="sidebar">
		{{- with .Site.Data.theme.sidebar -}}
			{{- range .items -}}
				<div>
					<h4 class="title">{{ .header }}</h4>
					{{- if eq .type "list" -}}
						<ul>
							{{- range .listItems -}}
								<li><a href="{{ .href }}" title="{{ .text }}">{{ .text }}</a></li>
							{{- end -}}
						</ul>
					{{- else if eq .type "html" -}}
							{{- .code | safeHTML -}}
					{{- end -}}
				</div>
			{{- end -}}
		{{- end -}}
	</aside>
</div>