<article class="col-md-4">
	<div class="card card-plain card-blog">
		<div class="card-header card-header-image">
			<a href="{{ .Permalink }}" title="{{ .Title }}">
				{{- if isset .Params "image" -}}
				    {{$image := split .Params.image "." }}
					{{$thumbnail := delimit $image "-360x240." }}
					<img class="img img-raised lazyload"  data-sizes="auto" data-src="{{ $thumbnail }}" title="{{ .Title }}" alt="{{ .Title }} image">
				{{- else -}}
					{{$thumbnail := .Site.Params.thumbnail }}
					<img class="img img-raised lazyload"  data-sizes="auto" data-src="{{ $thumbnail }}" title="{{ .Title }}" alt="{{ .Title }} image">
				{{- end -}}
			</a>
		</div>
		<div class="card-body">
			{{- with .Params.categories -}}
				<h6 class="card-category text-success">
					{{$categoryName := index . 0}}
					{{$categoryUrl := $categoryName | urlize }}
					<a href="/{{ $categoryUrl }}" title="View all posts in {{ $categoryName }}">{{ $categoryName }}</a>
				</h6>
			{{- end -}}
			<h4 class="card-title">
				<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
			</h4>
			{{ if .Description }} 
				<p class="card-description">{{ .Description | markdownify }}</p>
			{{else}}
				<p class="card-description">{{ .Summary | plainify | safeHTML }}</p>
			{{end}}
		</div>
	</div>
</article>